# Core Deep Learning
torch>=1.10.0
transformers>=4.20.0
sentencepiece
accelerate
huggingface_hub[cli]
safetensors

# Data Processing
pandas
numpy
pyarrow
scikit-learn
joblib

# Utilities & Visualization
tqdm
matplotlib
seaborn

# Environment
python-dotenv
protobuf==3.20.0
